.idea/workspace.xml
*.class
*.cache.*
*.gwt.rpc
webservice/SthlmCommute/war/WEB-INF/classes
webservice/SthlmCommute/war/WEB-INF/lib
*.nocache.js
webservice/SthlmCommute/extras/
webservice/SthlmCommute/war/sthlmcommute/
