.interval {
    background-color: #8BB7CE !important;
}

.datePickerDayIsValue {
    background-color: #ABE7FE !important;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 60em;
	padding-left: 2em;
	margin: 0px auto;
}

h3, h4 {
    border-bottom: 1px black solid;
}
