.interval {
    background-color: #8BB7CE !important;
}

.datePickerDayIsValue {
    background-color: #ABE7FE !important;
}

#main {
    float: left;
    margin-left: 2em;
    width: 60em;
	padding-left: 2em;
	margin: 0px auto;
}

#left {
    float: left;
    padding-left: 2em;
    width: 20em;
}

h3, h4 {
    border-bottom: 1px black solid;
}


.highlighted {
    background-color: #ffffaa;
}

button.highlighted {
    background-color: #ffffaa;
}
